<dom-module id="siva-scaffold">
  <style>
    :host {
      display: block;
      box-sizing: border-box;
    }
    :host #recipesPage, #exercisesPage ,#tipsPage, #qAndAPage{padding:20px 10px;}
    #recipesPage table{width:100%;}
    #recipesPage table tr td{margin:30px;}
    #recipesPage #recipeName, #recipesPage #servingsPerOnePerson{width:270px;}
    #recipesPage h1{margin:0;}


    :host count{padding:10px; margin:10px; border-radius:30px; background:yellow;font-weight:bold; color:green;};
    :host siva-compact-table{padding-top:80px;}
    :host span{display:inline;}
    :host siva-compact-table{float:right; width:70%;}
    :host #uom {float:right; width:100px; margin:4px;}
    :host #recipeQuantities{float:left; width:100px;}

    :host paper-button.green {
      background-color: var(--paper-green-500);
      color: white;
    }
    :host paper-button.green[active] {
      background-color: var(--paper-red-500);
    }
    :host siva-compact-table{margin-top:50px;}
  </style>
  <template>
    <paper-header-panel fixed>
      <div class="paper-header">
          <paper-toolbar class="medium-tall">
            <paper-icon-button id="navicon" icon="menu"></paper-icon-button>
            <span class="flex">Optimus Prime - Healthcare Personalization<br/><strong> Hi {{userShortName}}, Welcome.</strong></span>
            <div class="layout horizontal">
              <table><tr>
                <td><span class="flex right middle">Recipes:</span></td><td><count>{{user.createdCounts.Recipe}}</count></td>
                <td><span class="flex right">Exercises: </span></td><td><count>{{user.createdCounts.Exercise}}</count></td>
                <td><span class="flex right">Tips: </span></td><td><count>{{user.createdCounts.Tip}}</count></td>
                <td><span class="flex right">Q &amp; A: </span></td><td><count>{{user.createdCounts.QandA}}</count></td>
              </tr></table>
            </div>
            <paper-icon-button id="morebutton" on-click="openSignoutDialog" icon="more-vert"></paper-icon-button>

            <paper-dialog id="signOutDialog">
              <h2>You wanna Signout ?</h2>
              <div class="buttons">
                <paper-button dialog-confirm autofocus on-click="signout">Sing Out</paper-button>
              </div>
            </paper-dialog>            


            <paper-tabs class="pink bottom fit" selected="{{selectedPage}}">
              <paper-tab>Food DB</paper-tab>
              <paper-tab>Exercises</paper-tab>
              <paper-tab>Tips</paper-tab>
              <paper-tab>Q &amp; A</paper-tab>
              <paper-tab>Edit</paper-tab>
              <paper-tab>Review</paper-tab>
            </paper-tabs>
          </paper-toolbar>
        </div>
    </paper-header-panel>

    <iron-pages id="pageContents" selected="{{selectedPage}}">
      <div id="recipesPage">
        <siva-recipe-creation id="sivaRecipeCreation" recipe="{{dummyRecipe}}"></siva-recipe-creation>
      </div>
      <div id="exercisesPage">
        <siva-exercise-creation id="sivaExerciseCreation" exercise="{{dummyExercise}}"></siva-exercise-creation>
      </div>
      <div id="tipsPage">
        <siva-tip-creation id="sivaTipCreation" ></siva-tip-creation>
      </div>
      <div id="qAndAPage">
        <siva-qa-creation id="sivaQACreation" viewtype="create"></siva-qa-creation>
      </div>
      <div id="editPage">
        <siva-edit></siva-edit>
      </div>
      <div id="reviewPage">
        <siva-review></siva-review>
      </div>

    </iron-pages>
  </template>
</dom-module>

<script>

  Polymer({

    is: 'siva-scaffold',

    properties: {
      userShortName:{
        type:String,
        value:function(){
          return localStorage.userShortName;
        }
      },
      selectedPage:{
        type:Number,
        value:0
      },
      recipeCount:{
        type:Number,
        notify:true,
        value:"00"
      },
      exerciseCount:{
        type:Number,
        notify:true,
        value:"00"
      },
      tipCount:{
        type:Number,
        notify:true,
        value:"00"
      },
      qaCount:{
        type:Number,
        notify:true,
        value:"00"
      },
      dummyRecipe:{
        name:"",
        foodType:"",
        mealType:"",
        diseaseFriendly:"",
        cusine:"",
        giIndex:"",
        ingredients:[]
      },
      dummyExercise:{
        name:"",
        weight:0,
        time:0,
        caloriesBurn:0,
        suitableFor:""
      },
      dummyTip:{
        tip:"",
        suitableForDisease:"",
        suitableForTime:""
      }
    },
    listeners: {
      'sivaRecipeCreation.updateCounters': 'updateCounters',
      'sivaExerciseCreation.updateCounters': 'updateCounters',
      'sivaTipCreation.updateCounters': 'updateCounters',
      'sivaQACreation.updateCounters': 'updateCounters'
    },
    getUserShortName:function(){
      this.userShortName = localStorage.userShortName;
    },
    updateCounters:function(e){
      this.user = JSON.parse(localStorage.user);
    },

    openSignoutDialog:function(e){
      this.$.signOutDialog.open();
    },
    signout:function(e){
      var xhr = new XMLHttpRequest();
      var that = this;
      xhr.onload = function(res){
        console.log(xhr.status);
      };
      xhr.open("GET",'/users/logout');
      xhr.send(null);

      //  The following must be put inside the callback. Let us see...
      delete localStorage.loggedIn;
      delete localStorage.username;
      delete localStorage.userShortName;
      location.reload(); 
    },

    // Element Lifecycle
    initData:function(e){
      console.log("Hey ",e.detail.response);
      this.fire('rendered',{hi:"Siva"});
      this.ingredientNames = _.pluck(e.detail.response.nutritives,"NAME")
    },

    ready: function() {
    },

    attached: function() {
      document.querySelector("siva-recipe-creation").recipe = {
        name:"",
        mealType:"",
        foodType:"",
        servingUnit:"",
        ingredients:[]
      };

      this.user = JSON.parse(localStorage.user);
      this.userShortName = localStorage.userShortName;

    },

    detached: function() {
    },
  });

</script>
