<dom-module id="siva-nutritives">
      <style>
            :host {
                  display: block;
                  box-sizing: border-box;
            }
      </style>

      <template>
            <paper-datatable data$="{{nutritives}}" selectable multi-selection>
                  <paper-datatable-column header="NAME" property="NAME" type="String" default="Default" editable>
                  <template>{{value}}</template>
                  </paper-datatable-column>
                  <paper-datatable-column header="MOISTURE_GM" property="MOISTURE_GM" type="String" default="Default" editable>
                  <template>{{value}}</template>
                  </paper-datatable-column>
                  <paper-datatable-column header="PROTEIN_GM" property="PROTEIN_GM" type="String" default="Default" editable>
                  <template>{{value}}</template>
                  </paper-datatable-column>
                  <paper-datatable-column header="FAT_GM" property="FAT_GM" type="String" default="Default" editable>
                  <template>{{value}}</template>
                  </paper-datatable-column>
                  <paper-datatable-column header="FIBER_GM" property="FIBER_GM" type="String" default="Default" editable>
                  <template>{{value}}</template>
                  </paper-datatable-column>
                  <paper-datatable-column header="CARBOHYDRATES_GM" property="CARBOHYDRATES_GM" type="String" default="Default" editable>
                  <template>{{value}}</template>
                  </paper-datatable-column>
                  <paper-datatable-column header="ENERGY_KCALS" property="ENERGY_KCALS" type="String" default="Default" editable>
                  <template>{{value}}</template>
                  </paper-datatable-column>
                  <paper-datatable-column header="CALCIUM_MG" property="CALCIUM_MG" type="String" default="Default" editable>
                  <template>{{value}}</template>
                  </paper-datatable-column>
                  <paper-datatable-column header="PHOSPHOROUS_MG" property="PHOSPHOROUS_MG" type="String" default="Default" editable>
                  <template>{{value}}</template>
                  </paper-datatable-column>
                  <paper-datatable-column header="IRON_MG" property="IRON_MG" type="String" default="Default" editable>
                  <template>{{value}}</template>
                  </paper-datatable-column>

                  <paper-datatable-column header="CAROTENE_Vit_A_microgram" property="CAROTENE_Vit_A_microgram" type="Number" default="Default" editable>
                  <template>{{value}}</template>
                  </paper-datatable-column>
                  <paper-datatable-column header="THIAMINE_Vit_B1_mg" property="THIAMINE_Vit_B1_mg" type="Number" default="Default" editable>
                  <template>{{value}}</template>
                  </paper-datatable-column>
                  <paper-datatable-column header="RIBOFLAVIN_VIT_B2_mg" property="RIBOFLAVIN_VIT_B2_mg" type="Number" default="Default" editable>
                  <template>{{value}}</template>
                  </paper-datatable-column>
                  <paper-datatable-column header="NIACIN_VIT_B3_mg" property="NIACIN_VIT_B3_mg" type="Number" default="Default" editable>
                  <template>{{value}}</template>
                  </paper-datatable-column>
                  <paper-datatable-column header="TOTAL_B6_mg" property="TOTAL_B6_mg" type="Number" default="Default" editable>
                  <template>{{value}}</template>
                  </paper-datatable-column>
                  <paper-datatable-column header="Folic_Acid_Free" property="Folic_Acid_Free" type="Number" default="Default" editable>
                  <template>{{value}}</template>
                  </paper-datatable-column>
                  <paper-datatable-column header="Folic_Acid_Total" property="Folic_Acid_Total" type="Number" default="Default" editable>
                  <template>{{value}}</template>
                  </paper-datatable-column>
                  <paper-datatable-column header="VITAMIN_C_mg" property="VITAMIN_C_mg" type="Number" default="Default" editable>
                  <template>{{value}}</template>
                  </paper-datatable-column>
                  <paper-datatable-column header="CHOLINE_mg" property="CHOLINE_mg" type="Number" default="Default" editable>
                  <template>{{value}}</template>
                  </paper-datatable-column>
                  <paper-datatable-column header="Na_MG" property="Na_MG" type="Number" default="Default" editable>
                  <template>{{value}}</template>
                  </paper-datatable-column>
                  <paper-datatable-column header="K_MG" property="K_MG" type="Number" default="Default" editable>
                  <template>{{value}}</template>
                  </paper-datatable-column>
                  <paper-datatable-column header="Zn_MG" property="Zn_MG" type="Number" default="Default" editable>
                  <template>{{value}}</template>
                  </paper-datatable-column>
                  <paper-datatable-column header="Total_Saturates_Percent" property="Total_Saturates_Percent" type="Number" default="Default" editable>
                  <template>{{value}}</template>
                  </paper-datatable-column>
                  <paper-datatable-column header="Total_Monounsaturate_Percent" property="Total_Monounsaturate_Percent" type="Number" default="Default" editable>
                  <template>{{value}}</template>
                  </paper-datatable-column>
                  <paper-datatable-column header="Total_polyunsaturate_Percent" property="Total_Monounsaturate_Percent" type="Number" default="Default" editable>
                  <template>{{value}}</template>
                  </paper-datatable-column>
            </paper-datatable>
      </template>
</dom-module>

<script>
Polymer({
      is:"siva-nutritives"
});      