
<dom-module id="siva-review">
  <style>
    :host {
      margin:30px;
      display: block;
      box-sizing: border-box;
    }
    :host paper-card.reviewItem{
      padding:20px;
      margin-bottom:20px;
      display:block;
    }
    :host paper-card.reviewItem::active{
      background:#f4f4f4;
    }
    :host iron-swipeable-container{
      width:500px;
    }
    :host paper-card.reviewItem div{
      color:maroon;
      font-weight:bold;
    }
  </style>

  <template>
    <iron-ajax
      id="ajax"
        auto
        url="/crud/QandA?username=kalpana.payagulla@callhealth.co.in"
        handle-as="json"
        last-response="{{qandas}}"
        on-response="initData"
        debounce-duration="300"></iron-ajax>
    <div><h3> You are currently reviewing Q&amp;A of Kalpana</h3> TOTAL: {{qandas.length}}</div>
    <iron-swipeable-container>
      <template is="dom-repeat" items="{{qandas}}">
        <paper-card class="reviewItem" elevation="3">
          <div>DOCTOR: {{item.createdBy}}</div>
          <h4>Question</h4>
          <p>{{item.question}}</p>
          <h4>Answer</h4>
          <p>{{item.answer}}</p>
          <h4>Comments ?</h4>
          <iron-autogrow-textarea>
            <textarea></textarea>
          </iron-autogrow-textarea>
          <paper-icon-button icon="communication:forum"></paper-icon-button>
          <p>{{item.comments}}</p>
          <hr/>
          <strip>
            <paper-icon-button icon="delete"></paper-icon-button><span>Junk</span>
            <paper-icon-button icon="image:control-point-duplicate"></paper-icon-button><span>Duplicate</span>
            <paper-icon-button icon="check"></paper-icon-button><span>Finalize</span>
          </strip>
        </paper-card>  
      </template>
    </iron-swipeable-container>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'siva-review',
    properties: {
      username:{
        type:String,
        value:function(){
          return localStorage.username;
        }
      },
      currentModel:{
        type:Object,
        notify:true
      },
      currentReviewModule:{type:Boolean}
    },

    gotTotalData:function(e){
      console.log(e.detail.response);
    },

    editThis:function(e){
      // document.querySelector("#reviewClick").hidden = false;
      console.log("Came to Edit",e.model.item._id);
      console.log(e.model.item);
      //  For now, disable save button
      e.model.item.nosave = true;
      this.currentModel = e.model.item;
      document.querySelector("#qaDialog").open();
    },

    update:function(modelName,id){
      var xhr = new XMLHttpRequest();
      var that = this;

      xhr.onload = function(res){
        if(res.currentTarget.readyState == 4){
          console.log(res);
        }
      };
      xhr.open("POST",'/crud/QandA');
      xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      xhr.send(JSON.stringify(recipe));
    }
  });
</script>