
<dom-module id="siva-review">
  <style>
    :host {
      margin:30px;
      display: block;
      box-sizing: border-box;
    }
    :host paper-card.reviewItem{
      padding:20px;
      margin-bottom:20px;
      display:block;
    }
    :host paper-card.reviewItem h5{
      line-height:90%;
      margin-bottom:0px;
    }
    :host iron-swipeable-container{
      width:500px;
    }
    :host paper-card.reviewItem div{
      color:maroon;
      font-weight:bold;
    }
    :host span.capitalize{
      text-transform:capitalize;
    }
    :host paper-chip{
      background:#fbfbfb;
      padding:3px; border-radius:4px;};
  </style>

  <template>
    <p>Tap on a radio button to fetch respective contents authored by your reviewee</p>
    <paper-radio-group selected="{{currentReviewModule}}">
      <paper-radio-button name="recipes" checked="{{recipesModuleChecked}}">Recipes</paper-radio-button>
      <paper-radio-button name="exercises" checked="{{exercisesModuleChecked}}">Exercises</paper-radio-button>
      <paper-radio-button name="tips" checked="{{tipsModuleChecked}}">Tips</paper-radio-button>
      <paper-radio-button name="qandas" checked="{{qandasModuleChecked}}">Q &amp; A</paper-radio-button>
      <!-- <paper-radio-button name="nutritives" checked="{{nutritivesModuleChecked}}">Nutritives</paper-radio-button> -->
    </paper-radio-group>
    <template is="dom-if" if="{{qandasModuleChecked}}" class="recipesModuleChecked">
      <iron-ajax
        id="ajax"
          auto
          url="/reviews/QandA"
          handle-as="json"
          last-response="{{qandas}}"
          on-response="initData"
          on-error="initData"
          debounce-duration="300"></iron-ajax>

      <div style="background:#f4f4f4; width:460px; padding:20px;"><p> You can mark an item as 
        <ul><li>Junk</li>
            <li>100% Duplicate of some other entry</li>
            <li>or, Finalize to release it.</li>
        </ul>
        Write your suggestions if any, hit comment symbol button to post them to creator. One feedback at a time</p> 
        </div>
        Total: {{qandas.length}}
      <iron-swipeable-container>
        <template is="dom-repeat" items="{{qandas}}">
          <paper-card class="reviewItem" elevation="3">
            
            <template is="dom-if" if="{{greaterThanZero(item.reviews.length)}}">
              <strong style="float:right; color:red;padding:10px; background: #f0f0f0;">This had been already reviewed &#x2713;</strong>
            </template>

            <div>Creator: <span class="capitalize">{{shortName(item.createdBy)}}</span></div>
            <h4>Question</h4>
            <p>{{item.question}}</p>
            <h4>Answer</h4>
            <p>{{item.answer}}</p>
            <h4>Comments ?</h4> 
            <iron-autogrow-textarea id="suggestions_qandas_{{index}}">
            </iron-autogrow-textarea>
            <paper-icon-button icon="communication:comment" on-click="handleButtonClick" type="suggestion"></paper-icon-button>
            <p>{{item.comments}}</p>
            <hr/>
            <strip>
              <paper-icon-button icon="delete" on-click="handleButtonClick"></paper-icon-button><span>Junk</span>
              <paper-icon-button icon="image:control-point-duplicate" on-click="handleButtonClick"></paper-icon-button><span>Duplicate</span>
              <paper-icon-button icon="check" on-click="handleButtonClick"></paper-icon-button><span>Finalize</span>
            </strip>
          </paper-card>  
        </template>
      </iron-swipeable-container>
    </template>

    <template is="dom-if" if="{{recipesModuleChecked}}" class="recipesModuleChecked">
      <iron-ajax
        id="ajax"
          auto
          url="/reviews/Recipe"
          handle-as="json"
          last-response="{{recipes}}"
          on-response="initData"
          on-error="initData"
          debounce-duration="300"></iron-ajax>

        <div style="background:#f4f4f4; width:460px; padding:20px;"><p> You can mark an item as 
          <ul><li>Junk</li>
              <li>100% Duplicate of some other entry</li>
              <li>or, Finalize to release it.</li>
          </ul>
          Write your suggestions if any, hit comment symbol button to post them to creator. One feedback at a time</p> 
        </div>
          Total: {{recipes.length}}
        <iron-swipeable-container>
          <template is="dom-repeat" items="{{recipes}}">
            <paper-card class="reviewItem disable-swipe" elevation="3">
            
              <template is="dom-if" if="{{greaterThanZero(item.reviews.length)}}">
                <strong style="float:right; color:red;padding:10px; background: #f0f0f0;">This had been already reviewed &#x2713;</strong>
              </template>

              <div>Creator: <span class="capitalize">{{shortName(item.createdBy)}}</span></div>
              <h2>{{item.name}}</h3> 
              <h4>Ingredients</h4>
              <template is="dom-repeat" items="{{item.ingredients}}" as="ingredient">
                <strong>{{ingredient.NAME}} {{ingredient.qty}} {{ingredient.uom}}</strong><br/>
                  <template is="dom-if" if="{{isTotals(ingredient.NAME)}}">
                  <h1>{{ingredient.NAME}}</h1>
        <p>
                  <span>MOISTURE_GM: {{ingredient.MOISTURE_GM}}</span>,<br/>
                  <span>PROTEIN_GM: {{ingredient.PROTEIN_GM}}</span>,<br/>
                  <span>FAT_GM: {{ingredient.FAT_GM}}</span>,<br/>
                  <span>MINERALS_GM: {{ingredient.MINERALS_GM}}</span>,<br/>
                  <span>FIBER_GM: {{ingredient.FIBER_GM}}</span>,<br/>
                  <span>CARBOHYDRATES_GM: {{ingredient.CARBOHYDRATES_GM}}</span>,<br/>
                  <span>ENERGY_KCALS: {{ingredient.ENERGY_KCALS}}</span>,<br/>
                  <span>CALCIUM_MG: {{ingredient.CALCIUM_MG}}</span>,<br/>
                  <span>PHOSPHOROUS_MG: {{ingredient.PHOSPHOROUS_MG}}</span>,<br/>
                  <span>IRON_MG: {{ingredient.IRON_MG}}</span><br/>
               </p></template>
              </template>


              <h4>Comments ?</h4> 
              <iron-autogrow-textarea id="suggestions_recipes_{{index}}">
              </iron-autogrow-textarea>
              <paper-icon-button icon="communication:comment" type="suggestion" on-click="handleButtonClick"></paper-icon-button>
              <p>{{item.comments}}</p>
              <hr/>
              <strip>
                <paper-icon-button icon="delete" on-click="handleButtonClick"></paper-icon-button><span>Junk</span>
                <paper-icon-button icon="image:control-point-duplicate" on-click="handleButtonClick"></paper-icon-button><span>Duplicate</span>
                <paper-icon-button icon="check" on-click="handleButtonClick"></paper-icon-button><span>Finalize</span>
              </strip>
            </paper-card>  
          </template>
        </iron-swipeable-container>
    </template>

    <template is="dom-if" if="{{exercisesModuleChecked}}" class="exercisesModuleChecked">
      <iron-ajax
        id="ajax"
          auto
          url="/reviews/Exercise"
          handle-as="json"
          last-response="{{exercises}}"
          on-response="initData"
          on-error="initData"
          debounce-duration="300"></iron-ajax>

      <div style="background:#f4f4f4; width:460px; padding:20px;"><p> You can mark an item as 
        <ul><li>Junk</li>
            <li>100% Duplicate of some other entry</li>
            <li>or, Finalize to release it.</li>
        </ul>
        Write your suggestions if any, hit comment symbol button to post them to creator. One feedback at a time</p> 
      </div>
      <template is="dom-if" if="{{exercises.length}}">Total: {{exercises.length}}</template>
      <iron-swipeable-container>
        <template is="dom-repeat" items="{{exercises}}">
          <paper-card class="reviewItem" elevation="3">
            
            <template is="dom-if" if="{{greaterThanZero(item.reviews.length)}}">
              <strong style="float:right; color:red;padding:10px; background: #f0f0f0;">This had been already reviewed &#x2713;</strong>
            </template>

            <div>Creator: <span class="capitalize">{{shortName(item.createdBy)}}</span></div>
            <h2>{{item.name}}</h3>
            <h4>Comments ?</h4> 
            <iron-autogrow-textarea id="suggestions_exercises_{{index}}">
            </iron-autogrow-textarea>
            <paper-icon-button icon="communication:comment" type="suggestion"></paper-icon-button>
            <p>{{item.comments}}</p>
            <hr/>
            <strip>
              <paper-icon-button icon="delete" on-click="handleButtonClick"></paper-icon-button><span>Junk</span>
              <paper-icon-button icon="image:control-point-duplicate" on-click="handleButtonClick"></paper-icon-button><span>Duplicate</span>
              <paper-icon-button icon="check" on-click="handleButtonClick"></paper-icon-button><span>Finalize</span>
            </strip>
          </paper-card>  
        </template>
      </iron-swipeable-container>
    </template>

    <template is="dom-if" if="{{tipsModuleChecked}}" class="tipsModuleChecked">
      <iron-ajax
        id="ajax"
          auto
          url="/reviews/Tip"
          handle-as="json"
          last-response="{{tips}}"
          on-response="initData"
          on-error="initData"
          debounce-duration="300"></iron-ajax>

      <div style="background:#f4f4f4; width:460px; padding:20px;"><p> You can mark an item as 
        <ul><li>Junk</li>
            <li>100% Duplicate of some other entry</li>
            <li>or, Finalize to release it.</li>
        </ul>
        Write your suggestions if any, hit comment symbol button to post them to creator. One feedback at a time</p> 
      </div>
      <template is="dom-if" if="{{tips.length}}">Total: {{tips.length}}</template>
      <iron-swipeable-container>
        <template is="dom-repeat" items="{{tips}}">
          <paper-card class="reviewItem" elevation="3">
            
            <template is="dom-if" if="{{greaterThanZero(item.reviews.length)}}">
              <strong style="float:right; color:red;padding:10px; background: #f0f0f0;">This had been already reviewed &#x2713;</strong>
            </template>

            <div>Creator: <span class="capitalize">{{shortName(item.createdBy)}}</span></div>
            <h3> Tip:</h3>
            <p>{{item.tip}}</p>
            <h4>Comments ?</h4> 
            <iron-autogrow-textarea id="suggestions_tips_{{index}}">
            </iron-autogrow-textarea>
            <paper-icon-button icon="communication:comment" type="suggestion"></paper-icon-button>
            <p>{{item.comments}}</p>
            <hr/>
            <strip>
              <paper-icon-button icon="delete" on-click="handleButtonClick"></paper-icon-button><span>Junk</span>
              <paper-icon-button icon="image:control-point-duplicate" on-click="handleButtonClick"></paper-icon-button><span>Duplicate</span>
              <paper-icon-button icon="check" on-click="handleButtonClick"></paper-icon-button><span>Finalize</span>
            </strip>
          </paper-card>  
        </template>
      </iron-swipeable-container>
    </template>

    <paper-toast id="toast_review" duration="0"  text=" You need to re-SignIn to review things">
      <paper-button onclick="toast_review.toggle()" class="yellow-button">Okay !</paper-button>
    </paper-toast>


  </template>
</dom-module>
<script>
  Polymer({
    is: 'siva-review',
    properties: {
      username:{
        type:String,
        value:function(){
          return localStorage.username;
        }
      },
      currentModel:{
        type:Object,
        notify:true
      },
      currentReviewModule:{type:Boolean},
      qandas:Array,
      tips:Array,
      exercises:Array,
      recipes:Array
    },
    initData:function(e){
      if(e.type == 'error'){
        this.$.toast_review.open();
        this.signout();
      }
    },
    signout:function(e){
      var xhr = new XMLHttpRequest();
      var that = this;
      xhr.onload = function(res){
        console.log(xhr.status);
      };
      xhr.open("GET",'/users/logout');
      xhr.send(null);

      //  The following must be put inside the callback. Let us see...
      delete localStorage.loggedIn;
      delete localStorage.username;
      delete localStorage.userShortName;
      location.reload(); 
    },
    shortName:function(email){
      return email.split("@")[0].replace("."," ");
    },
    gotTotalData:function(e){
      console.log(e.detail.response);
    },
    isTotals:function(x){
      return x =="Totals :";
    },
    greaterThanZero:function(n){
      return n>0;
    },
    handleButtonClick:function(e){
      var putBody = {
        _id:e.model.item._id,
      };

      console.log(e);
      // e.target.parent.appendChild(document.createTextNode("Reviewed !"));
      console.log(e.model.item._id);
      switch(e.target.icon){
        case "communication:comment":
          console.log("You are about to comment ",e.model.item.question);
          putBody.reviewerFlag = "";
          // putBody.reviewerSuggestions = 
          break;
        case "delete":
          console.log("You are about to mark this as junk entry ",e.model.item.question);
          putBody.reviewerFlag = "delete";
          break;
        case "check":
          console.log("You are about to mark this as final entry ",e.model.item.question);
          putBody.reviewerFlag = "final"
          break;
        case "image:control-point-duplicate":
          console.log("You are about to mark this as duplicate ",e.model.item.question);
          putBody.reviewerFlag = "duplicate";
          break;
      }
      var xhr = new XMLHttpRequest();
      var that = this;

      xhr.onload = function(res){
        if(xhr.status == 401) {
          alert("Session expired. Pls relogin");
          this.$.toast_review.open();
          this.signout();
        }
        if(res.currentTarget.readyState == 4){
          console.log(res);
        }
      };

      var modelRadioMapping = {
        exercises:"Exercise",
        recipes:"Recipe",
        tips:"Tip",
        qandas:"QandA"
      };

      console.log("Clicked ", e.model.index, " th item of ", this.currentReviewModule);
      switch(this.currentReviewModule){
        case "exercises":
          this.splice("exercises",e.model.index,1);
          putBody.reviewerSuggestions = document.querySelector("#suggestions_exercises_" + e.model.index).textarea.value;
          break;
        case "qandas":
          this.splice("qandas",e.model.index,1);
          putBody.reviewerSuggestions = document.querySelector("#suggestions_qandas_" + e.model.index).textarea.value;
          break;
        case "tips":
          this.splice("tips",e.model.index,1);
          putBody.reviewerSuggestions = document.querySelector("#suggestions_tips_" + e.model.index).textarea.value;
          break;
        case "recipes":
          this.splice("recipes",e.model.index,1);
          putBody.reviewerSuggestions = document.querySelector("#suggestions_recipes_" + e.model.index).textarea.value;
          break;
      }

      xhr.open("PUT",'/reviews/' + modelRadioMapping[this.currentReviewModule]);
      xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      xhr.send(JSON.stringify(putBody));
    },

    editThis:function(e){
      // document.querySelector("#reviewClick").hidden = false;
      console.log("Came to Edit",e.model.item._id);
      console.log(e.model.item);
      //  For now, disable save button
      e.model.item.nosave = true;
      this.currentModel = e.model.item;
      document.querySelector("#qaDialog").open();
    },

    update:function(modelName,id){
      var xhr = new XMLHttpRequest();
      var that = this;

      xhr.onload = function(res){
        if(res.currentTarget.readyState == 4){
          console.log(res);
        }
      };
      xhr.open("POST",'/crud/QandA');
      xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      xhr.send(JSON.stringify(recipe));
    }
  });
</script>